<% require_relative "../helpers/create_order.rb" 
%>

  <% if is_admin == true %>
    <form method="get" action="/add_shoes">
      <button style="margin:2%;font-size:17px;padding: 15px 17px;" type="submit" class="delete_button">Добавяне на обувки</button>
    </form>
<br>
<%end%>
<br>
<br>
<br>
<br>
<br>

<% if Shoe.all == nil %>
    В момента няма налични обувки.
<% else %>
<table class="products">
  <tr class="products">
    <th class="products">Модел</th>
    <th class="products">Категория</th>
    <th class="products">Пол</th>
    <th class="products">Цвят</th>
    <th class="products">Размери</th>
    <th class="products">Цена</th>
    <th class="products">Допълнителна информация</th>
  </tr>
  <% Shoe.all.each do |shoes| %>
    <tr class="products">
        <td class="products"><strong><%= shoes.product_name %></strong></td>
        <td class="products"><%= shoes.category %></td>
        <td class="products"><%= shoes.gender %></td>
        <td class="products"><%= shoes.color %></td>
        <td class="products"><%= shoes.size_min %>-<%= shoes.size_max %></td>
        <td class="products"><%= shoes.price %>лв</td>
        <td class="products">
          <form method="post" action="/open_shoes?product_id=<%=shoes.product_id%>">
            <input type='hidden' value= "<%=shoes.product_id%>" name="product_id" >
            <button type="submit" class="button_product">Виж повече</button>
          </form>
        </td>
    </tr>
  <% end %>
</table>
<%end%>
