<br>
<h3 align="left" style="margin-left:5%">Блузи</h3>
<br>

<% if Top.all == [] %>
    <h4 style="margin-left:50px">В момента няма налични блузи.</h4>
<% else %>
    <table class="products">
        <tr class="products">
            <th class="products">Модел</th>
            <th class="products">Категория</th>
            <th class="products">Пол</th>
            <th class="products">Цвят</th>
            <th class="products">Размери</th>
            <th class="products">Цена</th>
            <th class="products">Допълнителна информация</th>
        </tr>
        <% Top.all.each do |top| %>
            <tr class="products">
                <td class="products">
                    <strong><%= top.product_name %></strong>
                </td>
                <td class="products"><%= categories(top.category)%></td>
                <td class="products"><%= genders(top.gender)%></td>
                <td class="products"><%= colors(top.color)%></td>
                <td class="products">
                    <%= tops_sizes(top.size_min) %>-<%= tops_sizes top.size_max %>
                </td>
                <td class="products"><%= top.price %>лв</td>
                <td class="products">
                    <form method="post"
                          action="/open_product?product_id=<%=top.product_id%>">
                        <input type='hidden'
                               value= "<%=top.product_id%>"
                               name="product_id" >
                        <button type="submit"
                                class="button_product">Виж повече</button>
                    </form>
                </td>
            </tr>
        <% end %>
    </table>
<%end%>
